body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: red;
}
#container {
  width: 680px;
}
h1 {
  color: green;
}
p {
  color: red;
}
h3 {
  color: blue;
}
h2 {
  color: red;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
}
nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}
h4 {
  border: 5px solid #ddd;
}
h4:hover {
  border-color: #999;
}
